body {
  background: #ccc;
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#container {
  /* 50px * 2 + 10px * 2 */
  width: 120px;
  margin: 16px auto;
  background: pink;
}