body {
  background: #ccc;
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/***********************
* container
***********************/

#container {
  /* 50px * 2 + 10px * 2 */
  width: 120px;
  margin: 16px auto;
}


/***********************
* board
***********************/

#board {
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

#board li {
  background-color: #00aaff;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  box-shadow: 0 4px 0 #0088cc;
}

#board li.pressed {
  background-color: #ccc;
  box-shadow: none;
  margin-top: 9px;
  margin-bottom: 1px;
}

#timer {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: right;
}

#btn {
  cursor: pointer;
  user-select: none;
  background-color: #f44336;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
}