body {
  background: #ccc;
  color: #fff;
  font-family: 'Courier New', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/***********************
* container
***********************/

#container {
  /* 50px * 2 + 10px * 2 */
  width: 120px;
  margin: 16px auto;
  background: pink;
}


/***********************
* board
***********************/

#board {
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}

#timer {
  margin-bottom: 8px;
}